<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iphone Rio Cuarto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <a href="{{ url_for('pedidos')}}">
        <button>Pedidos</button>
    </a>
    <a href="{{ url_for('clientes')}}">
        <button>Clientes</button>
    </a>
    <a href="{{ url_for('productos')}}">
        <button>Productos</button>
    </a>
</body>
</html>